<div>
    <p></p>
    <h3>Список должностей</h3>
    <p></p>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <td>№</td>
                <td>Должность</td>
                <td>Категория</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in positionsList">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.category}}</td>
                <td>
                    <a class="btn btn-outline-danger" ng-click="deletePosition(p.id)">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
