<div>
    <p></p>
    <h3>Список работников</h3>
    <p></p>
    <div>
<!--        <div class="col-auto">-->
<!--            <button type="submit" class="btn btn-primary mb-3" ng-click="createNewProduct">Создать</button>-->
<!--        </div>-->
<!--        <p></p>-->
        <table class="table table-hover">
            <thead>
            <tr>
                <td>№</td>
                <td>Ф.И.О.</td>
                <td>Должность</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="emploee in emploeeList">
                <td>{{emploee.id}}</td>
                <td>{{emploee.fio}}</td>
                <td>{{emploee.position}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
